body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: ; */
  /* font-family: ; */
}

#weatherWidget .currentDesc {
  color: #ffffff !important;
}

.traffic-chart {
  min-height: 335px;
}

#flotPie1 {
  height: 150px;
}

#flotPie1 td {
  padding: 3px;
}

#flotPie1 table {
  top: 20px !important;
  right: -10px !important;
}

.chart-container {
  display: table;
  min-width: 270px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

#flotLine5 {
  height: 105px;
}

#flotBarChart {
  height: 150px;
}

#cellPaiChart {
  height: 160px;
}
